label, input, textarea,select, span{
    max-width: 700px;
}
label{
   font-weight: bold;
   font-size: 18px;
   margin-left: 5px;

}

#image-preview {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.preview-container {
    position: relative;
    margin-right: 20px;
    margin-bottom: 10px;
}

.preview-image {
    max-width: 200px;
    max-height: 200px;
    border: 1px solid #ddd;
    margin-bottom: 5px;
}

.delete-button {
    position: absolute;
    top: -10px; /* Move the button outside the container */
    right: -10px; /* Move the button outside the container */
    background-color: rgba(0, 0, 0, 0.7); /* Black with 70% transparency */
    border: none;
    padding: 5px;
    font-size: 17px;
    color: white;
    cursor: pointer;
    border-radius: 50%; /* Make the button area round */
}





