
.form-control:focus {
    box-shadow: none;
    border-color: rgb(47,155,92)
}

.profile-button {
    background: rgb(47,155,92);
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: rgb(47,155,92)
}

.profile-button:focus {
    background: rgb(47,155,92);
    box-shadow: none
}

.profile-button:active {
    background: rgb(47,155,92);
    box-shadow: none
}

.back:hover {
    color: rgb(47,155,92);
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: rgb(47,155,92);
    color: #fff;
    cursor: pointer;
    border: solid 1px rgb(47,155,92)
}
